<template>
  <div class="mt-5">
    <v-container>
      <hr />

      <br />

      <v-layout id="fotoPerfil">
        <v-flex xs4>
          <h4>Foto de Perfil</h4>

          <br />

          <span>Puede cambiar su foto o eliminarla</span>
        </v-flex>

        <v-flex xs4>
          <v-img
            src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg"
            style="width: 200px;"
          ></v-img>
        </v-flex>

        <v-flex xs4>
          <h5>Cargar nueva foto de perfil</h5>

          <br />

          <v-btn color="primary">Seleccionar archivo...</v-btn>

          <span style="padding-left: 14px;">no hay ningun archivo seleccionado</span>

          <br />

          <v-btn color="success" class="mt-5">Eliminar Foto</v-btn>
        </v-flex>
      </v-layout>

      <br />

      <hr />

      <br />

      <v-layout>
        <v-flex xs4>
          <h4>Estado actual</h4>

          <span>Este mensaje se mostrara en su perfil y en toda la interfazo</span>
        </v-flex>

        <v-flex xs4>
          <v-text-field placeholder="¿Cual es tu estado?"></v-text-field>
        </v-flex>
      </v-layout>

      <br />

      <hr />

      <br />

      <v-layout>
        <v-flex xs4>
          <h3>Configuracion Principal</h3>

          <span>Esta informacion aparecera en tu perfil</span>
        </v-flex>

        <v-flex xs4>
          <v-text-field></v-text-field>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>